.surprise__maindiv {
display: flex;
flex-direction: row;
}

img {
    width: 500px;
    height: 380px;
}
.surprise__text-bg{
    background-color: gray;
}
.surprise__text {
    text-align: center;
    color: white;
    z-index: 1;
}
